---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<header
  style="background-image: url('./header.webp')"
  class="header bg-cover bg-center bg-no-repeat p-10"
>
  <div class="bg-white rounded-md p-2 inline-block">
      <img src="/logo-rpj.webp" alt="Logo RPJ" class="me-5 w-52 inline-block" />
      <img
        src="/logo-catolicos-en-red.webp"
        alt="Logo Católicos En Red"
        class="inline-block w-60"
      />
  </div>
</header>
